* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barra-cima{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.barra-central{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #05161A;
    color: white;
    font-family:Saira,sans-serif;
}
.menus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
}
.menus a {
    color: white;
    font-family:Saira,sans-serif;
}
a{
    text-decoration: none;
}
#Inicio{
    width: 100%;
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #072E33;
}
.apresentacao{
    color: rgb(217, 213, 213);
    font-family: sans-serif;
}
#Sobre-mim{
    width: 100%;
    height: 47rem;
    background-color: #155158;
}
#Projetos{
    width: 100%;
    height: 47rem;
    background-color: #072E33;
}
#Habilidades{
    width: 100%;
    height: 47rem;
    background-color: #155158;
}