
.barra-cima{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.barra-central{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-family:Saira,sans-serif;
}
.menus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
}
.menus a {
    color: white;
    font-family:Saira,sans-serif;
}
a{
    text-decoration: none;
}
#Inicio{
    width: 100%;
    height: 40rem;
}
#Sobre-mim{
    width: 100%;
    height: 40rem;
}
#Projetos{
    width: 100%;
    height: 40rem;
}
#Habilidades{
    width: 100%;
    height: 40rem;
}