* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barra-cima{
    position: fixed;
   width: 100%;
    top: 0;
    left: 0;
}
.barra-central{
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #05161A;
    color: white;
    font-family:Saira,sans-serif;
    box-shadow: 0 0 5px 1px #81abb4;
}
.menus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
}
.transitionBarra{
    transition: color 0.5s;
}
.transitionBarra:hover{
    color: #7ebad7;
}
.menus a {
    color: white;
    font-family:Saira,sans-serif;
}
a{
    text-decoration: none;
}
#Inicio{
    
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #072E33;
}
.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(217, 213, 213);
    font-family: sans-serif;
    list-style: none;
    margin-right: 30rem;
}
.apresentacao li{
    margin-bottom: 1.5rem;
}
.nome{
    font-size: 4rem;
}
.dev{
    font-size: 2rem;
}
.icones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 30%;
    background-color: gray;
    margin-right: 1rem;
}
.linkedin{
    height: 1.5rem;
    width: 1.5rem;
}
.github-caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 30%;
    background-color: gray;
}
.github{
    height: 1.5rem;
    width: 1.5rem;
}
.transitionicon{
    transition: transform 0.5s, background-color 0.5s;
}
.transitionicon:hover{
    transform: scale(1.5);
    background-color: rgb(47, 207, 135);
}
#Sobre-mim{
    color: rgb(211, 205, 205);
    height: 45rem;
    background-color: #155158;
}
.lista-sobre{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.foto-sobre{
    margin-left: 10rem;
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.texto-sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40rem;
    margin-left: 10rem;
}
#Projetos{
   
    height: 47rem;
    background-color: #072E33;
}
#Habilidades{
    
    height: 47rem;
    background-color: #155158;
}